---
import Section from "../Section.astro"
import Docker from "@/icons/Docker.astro"
import Gitlab from "@/icons/Gitlab.astro"
import Ansible from "@/icons/Ansible.astro"
import Grafana from "@/icons/Grafana.astro"
import Elk from "@/icons/Elk.astro"
import Debian from "@/icons/Debian.astro"
import Git from "@/icons/git.astro"
import Linux from "@/icons/Linux.astro"
import Nginx from "@/icons/Nginx.astro"
import Proxmox from "@/icons/Proxmox.astro"
import VmWare from "@/icons/VmWare.astro"
import Bash from "@/icons/Bash.astro"
import { skills } from "@cv"

const SKILLS_ICONS: Record<string, any> = {
  Docker,
  Gitlab,
  Ansible,
  Grafana,
  Elk,
  Debian,
  Git,
  Linux,
  Nginx,
  Proxmox,
  VmWare,
  Bash,
}
---

<Section title="Skills">
  <ul>
    {
      skills.map(({ name }) => {
        const iconName = name === "Next.js" ? "Next" : name
        const Icon = SKILLS_ICONS[iconName]

        return (
          <li>
            {Icon && <Icon />} <span>{name}</span>
          </li>
        )
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  li {
    align-items: center;
    background: #eee;
    border-radius: 6px;
    color: black;
    display: flex;
    font-size: 0.8rem;
    font-weight: 500;
    gap: 4px;
    padding: 0.2rem 0.6rem;
  }
</style>
